@import "tailwindcss";

@font-face {
  font-family: "Deltarune";
  src: url("/deltarune.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --deltafont: "Deltarune";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
}

h1 {
  font-size: clamp(1rem, 5vw, 3rem);
  margin-bottom: 1rem;
  font-family: var(--deltafont);
}

h2 {
  font-size: clamp(1rem, 3vw, 2rem);
  margin-bottom: 1rem;
  font-weight: 600;
}

.squaredbg {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(-45deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.whitebg {
  background-color: white;
}

.darkbg {
  background-color: black;
}